In [1]:
age=22
print("my age is:",age)

my age is: 22

In [2]:
age=input(int())
print("my age is:" ,age)

0 24

my age is: 24

In [3]:
# F string
age=10
print(f"my age is:{age}")

my age is:10

In [7]:
# format

name="Mehak"
age=22

print("my name is {} and age is {}".format(name,age))

my name is Mehak and age is 22

In [8]:
print("my name is {firstname} and age is {firstage}".format(firstname=name,firstage=age))

my name is Mehak and age is 22

In [9]:
name="Mehak"
age=22
degree="BCA"

print("My age is {firstage} and i ahve completed: my degree of {Firstdegree} with the name of {fullname}".format(fullname=name,firstage=age,Firstdegree=degree))

My age is 22 and i ahve completed: my degree of BCA with the name of Mehak

In [11]:
print(f"My age is {age} and i ahve completed: my degree of {degree} with the name of {name}")

My age is 22 and i ahve completed: my degree of BCA with the name of Mehak

## control Flow 
### Decision Making Statements

In [15]:
# if statement

age=int(input())
if age>=18:
    print("You are eligbile to vote")
else:
    print("since your age is less than or not equal to 18 you will not be  able to vote ")

 12

since your age is less than or not equal to 18 you will not be  able to vote

In [22]:
age=int(input("Enter your age:"))

if (age>=18 and age<=45):
    print("You are young blood")
else:
    print("You are old")

Enter your age: 50

You are old

In [27]:
product_price=int(input("Enter the product price"))

if product_price>1000:
    final_price=product_price-(product_price*0.2)
    print(f"You have to pay {final_price} ")
else:
    final_price_1=product_price-(product_price*0.3)
    print(f"you have to pay{final_price_1} if you purchase under the range of 1000 ")

Enter the product price 500

you have to pay350.0 if you purchase under the range of 1000

In [40]:
# TASK 2

product_price=int(input("Enter the product price"))

if product_price>3000:
    if product_price==4000:
        print("congratulations you get a goa trip")
    print("The price of the product is {}".format(product_price-(product_price*0.2)))
elif product_price>=2000 and product_price<=3000 :
    if product_price==2999:
        print("You will get a additional free SUITCASE")
    print("The price of the product is {}".format(product_price-(product_price*0.3)))
else:
    print("The price of the product is {} ".format(product_price-(product_price*0.4)))

Enter the product price 4000

congratulations you get a goa trip
The price of the product is 3200.0

In [2]:
# Singe statement suite

val=int(input("Enter the Number"))
if (val<=999):print("Value is less than equal to 999")

Enter the Number 1000

## LOOPS Statements 
1.while loop
2.for loop 
3.nested loop
4.Loop control(break, countinue,pass)

In [5]:
#while Loop

joining_date=25
while joining_date<=60:
    print(joining_date)
    joining_date=joining_date+1
else:
    print("Its time for Retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
Its time for Retirement

In [9]:
###ATM Machine with 1000rupees

total_amount=1000

while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

## For LOOP

In [10]:
list=["Mehak",1,2,3,4,5,"apple","cherry"]

In [11]:
list

['Mehak', 1, 2, 3, 4, 5, 'apple', 'cherry']

In [12]:
type(list)

list

In [13]:
for i in list:
    print(i)

Mehak
1
2
3
4
5
apple
cherry

In [14]:
fruit_list=["Mango","Cherry","Apple","Papaya","Banana"]

In [31]:
for i in fruit_list:
    print(i)
    if i=='cherry':
        print("This fruit is cherry")

Mango
Cherry
Apple
Papaya
Banana

In [32]:
fruit="Mango"
for i in fruit:
    print(i)

M
a
n
g
o

In [33]:
fruit[0]

'M'

In [34]:
fruit[3]

'g'

In [35]:
fruit[-3]

'n'

In [ ]:
### Range

In [43]:
for i in range(1,6,2):
    print(i)

1
3
5

In [55]:
# Nested loop

n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [56]:
# Loop Control
# Break ANd Continue

fruit_list=["Mango","cherry","Apple","Papaya","Banana"]

In [67]:
for i in fruit_list:
    if i=="Apple":
        print("This fruit is apple")
        break
    print(i)

Mango
cherry
This fruit is apple

In [68]:
for i in fruit_list:
    if i=="Apple":
        print("This fruit is apple")
        pass
    print(i)

Mango
cherry
This fruit is apple
Apple
Papaya
Banana

In [70]:
for i in fruit_list:
    if i=="Apple":
        print("This fruit is apple")
        continue
    print(i)

Mango
cherry
This fruit is apple
Papaya
Banana